@{
    ViewBag.Title = "主页";
}
<div class="jumbotron" style="background-image:url(/images/background.jpg);background-size:100% 100%">
    <h1>酒店管理系统V1.0</h1>
    <p class="lead">Excellent hotel room management system is easy to operate, good flexibility, the system safe and stable operation.</p>
    <p><a href="~/tb_room" class="btn btn-primary btn-lg">客房管理 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>资产信息管理</h2>
        <p>房间价格以及信息发布中心</p>
        <p><a class="btn btn-default" href="~/Rometypes">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>房间预定</h2>
        <p>
            房间预定业务
        </p>
        <p><a class="btn btn-default" href="~/tb_reserve/">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<!--
@if (Request.IsAuthenticated)
{
<div class="jumbotron">
    <h1>酒店管理系统V1.0</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="~/Home/Contact" class="btn btn-primary btn-lg">客房管理 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>资产信息管理</h2>
        <p>房间价格以及信息发布中心</p>
        <p><a class="btn btn-default" href="~/Rometypes">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
}
else
{
    <div class="jumbotron">
        <h2>酒店管理系统V1.0</h2>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="~/Account/Login" class="btn btn-primary btn-lg">登陆 &raquo;</a></p>
    </div>
}-->