@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>酒店管理系统v0.7</h1>
    <p class="lead">为方便酒店管理人员管理酒店的日常事物的管理系统</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">详情 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>房间资产管理</h2>
        <p>
           客房类型<br />
           客房号码<br />
           客房名<br />
           客房入住情况<br />
            房间座机号码<br />
            
        </p>
        <p><a class="btn btn-default" href="/roomtables/Index">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>员工管理</h2>
        <p>
           总经理<br />
           中层管理<br />
           普通员工<br />
           </p>
        <p><a class="btn btn-default" href="/staffs/Index">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>业务管理</h2>
        <p>住户入住信息<br />
            人数<br />
            性别<br />
            入住房间号<br />
            入住房间名<br />
         </p>
        <p><a class="btn btn-default" href="/proces/Index">进入 &raquo;</a></p>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-md-4">
        <h2>房间资产管理</h2>
        <p>
            客房类型<br />
            客房号码<br />
            客房名<br />
            客房入住情况<br />
            房间座机号码<br />

        </p>
        <p><a class="btn btn-default" href="/roomtables/Index">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>员工管理</h2>
        <p>
            总经理<br />
            中层管理<br />
            普通员工<br />
        </p>
        <p><a class="btn btn-default" href="/staffs/Index">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>业务管理</h2>
        <p>
            住户入住信息<br />
            人数<br />
            性别<br />
            入住房间号<br />
            入住房间名<br />
        </p>
        <p><a class="btn btn-default" href="/proces/Index">进入 &raquo;</a></p>
    </div>
</div>